.title {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 30px;
}

.header {
    background-color: #3C4D87;
    height: 35px;
    margin-bottom: 10px;
    width: 90%;
}

.filterable,
.noFilterable {
    margin-top: 1%;
    margin-left: 20px;
    margin-bottom: 10%;
}

.noFilterable {
    margin-left: 15px;
}