<po-container>
    <po-page-default>
        <div class="po-row">
            <div class="header">
                <h1 class="title" align="center">Acompanhamento de Produção</h1>
            </div>
            <div>
                <div id="paramsbtnfilter" class="po-sm-1po-md-3 po-lg-4 po-xl-2 filterable">
                    <po-button (p-click)="this.enableDisplay()" p-icon="po-icon-parameters" p-label="Filtrar" p-loading="false" p-type="primary">
                    </po-button>
                </div>
                <div style="display: none;" id="paramsbtnnofilter" class="po-sm-12 po-md-3 po-lg-4 po-xl-2 noFilterable">
                    <po-button (p-click)="this.disableDisplay()" p-icon="po-icon-parameters" p-label="Esconder" p-loading="false" p-type="primary">
                    </po-button>
                </div>
            </div>
        </div>
        <div id="hidden">
            <po-container>
                <po-divider align="left" p-label="Filtro">
                </po-divider>
                <form>
                    <div class="po-row">
                        <div class="po-sm-12 po-md-2 po-lg-2 po-xl-3">
                            <po-input p-clean="true" p-icon="po-icon-parameters" p-label="Origem" [(ngModel)]="source" p-minlength="1" name="source" p-required="true">
                            </po-input>
                        </div>

                        <div class="po-sm-12 po-offset-md-1 po-md-2 po-offset-lg-1 po-lg-2 po-offset-xl-1 po-xl-3">
                            <po-input p-clean="true" p-icon="po-icon-parameters" p-label="Destino" p-minlength="1" [(ngModel)]="destination" name="destination" p-required="true">
                            </po-input>
                        </div>

                        <po-switch class="po-sm-12 po-offset-md-1 po-md-3 po-offset-lg-1 po-lg-2 po-xl-2" [(ngModel)]="switchChecked" p-label="Somente c/ Diferença" (p-change)="this.changeDifference()" p-label-off="Não" p-label-on="Sim" name="onlyDifference">
                        </po-switch>

                        <div style="margin-top: 20px;" class="po-sm-12 po-md-3 po-lg-2 po-xl-2">
                            <po-button align="center" style="margin-top: 4%;margin-bottom: 3%;" class="po-sm-12 po-md-12 po-lg-12 po-xl-12" (p-click)="getProduction(source, destination)" p-icon="po-icon-ok" p-label="Aplicar Filtro" p-loading="false" [p-disabled]="disabledFilter"
                                p-type="primary">
                            </po-button>
                        </div>

                        <div style="margin-top: 20px;" class="po-sm-12 po-md-3 po-lg-2 po-xl-2">
                            <po-button align="center" style="margin-top: 4%;margin-bottom: 3%;" class="po-sm-12 po-md-12 po-lg-12 po-xl-12" (p-click)="this.insertInfo(this.poModal, 'Dados de Entrada Opcionais')" p-icon="po-icon-parameters" p-label="Alterar Dados" p-loading="false"
                                p-type="default">
                            </po-button>
                        </div>
                    </div>

                </form>
            </po-container>
        </div>

        <po-container *ngIf="this.items.length > 0">
            <po-divider align="left" p-label="Atualização de Movimentos: {{this.counter.min}}:{{this.counter.sec}}"></po-divider>
            <div style="margin-bottom: 10px;" class="po-sm-12 po-md-3 po-lg-2 po-xl-2">
            </div>
            <div class="po-row">
                <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12">
                    <po-table p-container="light" [p-columns]="fields" [p-items]="items" [p-sort]="true" (p-show-more)="showMore()">
                    </po-table>
                </div>
            </div>
        </po-container>

    </po-page-default>
    <div class="sample-container">
        <po-loading-overlay *ngIf="this.loading" [p-screen-lock]="true" p-text="Carregando..."> </po-loading-overlay>
    </div>

    <po-modal #poModal [p-primary-action]="this.primayAction" [p-secondary-action]="this.secondaryAction" p-size="sm">
        {{message}}

        <form *ngIf="!initServer">
            <div class="po-row">
                <div class="po-sm-8 po-md-8 po-lg-8 po-xl-8">
                    <po-input p-clean="true" p-icon="po-icon-parameters" p-label="Endereço do Serviço:" p-minlength="1" p-help="Protheus" p-placeholder="http://192.168.200.171:8012/rest/WBROWSEOP" [(ngModel)]="address" name="address" p-required="true">
                    </po-input>
                </div>

                <div class="po-sm-4 po-md-4 po-lg-4 po-xl-4">
                    <po-input p-clean="true" p-icon="po-icon-parameters" p-label="Filtro (min):" p-minlength="1" p-placeholder="30" p-maxlength="3" p-help="OBS: mínimo 1m" p-pattern="^([0-9])+$" p-error-pattern="Preencha somente números" [(ngModel)]="timerMin" name="timerMin"
                        p-required="true">
                    </po-input>
                </div>
            </div>

        </form>
    </po-modal>
</po-container>